---
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="A tool to find small businesses in your area">
		<meta name="keywords" content="Small Business, Biz, Locator">
		<meta name="author" content="Austin Pound, Jackson Anderson">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Small Biz</title>

		<link rel="icon" type="image/png" href="./assets/icons/favicon.png">

		<link rel="stylesheet" href="./assets/styles/reset.css">
		<link rel="stylesheet" href="./assets/styles/universal_classes.css">
		<link rel="stylesheet" href="./assets/styles/variables.css">
	</head>
	
	<body>
		{% include footer.html %}
		
		<main></main>

		{% include footer.html %}
	</body>
</html>
