:root {
  --accent: #F6AD55;

  --padding-m: 1em;
  --padding-s: 0.5em;
}

.signin-cover {
  height: 100%;
  width: 50%;

  position: absolute;
  right: 0;

  background-color: var(--accent);
}

.signin-form {
  padding: var(--padding-m);
}

.signin-form input,
.signin-form label {
  padding: var(--padding-m) var(--padding-s);
}
