.signin-cover {
  height: 100%;
  width: 50%;

  position: absolute;
  right: 0;

  background-color: var(--accent);
}

.signin-form {
  padding: var(--space-s);
}

.signin-form input,
.signin-form label {
  margin: var(--space-s) var(--space-xs);
}
