:root {
  /* Hope you can enjoy playing around with adding these classes!!*/
  /* You can change any of these values if you want!*/
  
  /* Main Colors*/
  --background-color: #F9F9F9;
  --accent: #F6AD55;
  --font-color: #2D3748;

  /* Font Colors*/
  --title-color: var(--font-color);

  /* Margins*/
  --margin-s: 1em;
  --margin-m: 2em;
  --margin-l: 3em;

  /* Paddings*/
  --padding-s: 0.5em;
  --padding-m: 1em;
  --padding-l: 2em;

  /* Font Size*/
  --font-size-title: 2.5rem;
  --font-size-caption: 0.25rem;

  /* Font Families*/
  --title-font: "Playwright Cuba Guides", serif;
  --caption-font: "Roboto", sans-serif;
}

/* ------ HELPER CLASSES ------*/

/* FLEX CLASSES*/
.flex-center {
  /* Centers everything inside container*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  /* Makes a flex-box with things next (side-by-side) to each other*/
  display: flex;
  flex-direction: row;
}

.flex-column {
  /* Makes a flex-box with things on top of each other*/
  display: flex;
  flex-direction: column;
}

.flex-x-center {
  /* Centers objects along the x-axis*/
  justify-content: center;
}

.flex-y-center {
  /* Centers objects along the y-axis*/
  align-items: center;
}

/* COLOR CLASSES*/
.background-color {
  background-color: var(--background-color);
}

.font-accent {
  color: var(--accent);
}

.background-accent {
  background-color: var(--accent);
}

/* MARGIN CLASSES*/
.margin-small {
  /* Small margin around the border*/
  margin: var(--margin-s);
}

.margin-medium {
  /* Medium margin around the border*/
  margin: var(--margin-m);
}

.margin-large {
  /* Large margin around the border*/
  margin: var(--margin-l);
}

/* PADDING CLASSES*/
.padding-even-s {
  /* Small padding on all sides of content*/
  padding: var(--padding-s);
}

.padding-even-m {
  /* Medium padding on all sides of content*/
  padding: var(--padding-m);
}

.padding-even-l {
  /* Large padding on all sides of content*/
  padding: var(--padding-l);
}

/* TYPOGRAPHY CLASSES*/
.title {
  /* Controls font-size, font-family, & other text properties for the title*/
  font-size: var(--font-size-title);
  font-family: var(--title-font);
  font-weight: bold;
  color: var(--title-color);
  line-height:;
  letter-spacing:;
  text-align: center;
  text-transform: uppercase;
}

.caption {
  /* Controls font-size, font-family, & other text properties for the caption*/
  font-size: var(--font-size-caption);
  font-family: var(--caption-font);
}


