/* ------ HELPER CLASSES ------*/

/* FLEX CLASSES*/
.flex-center {
  /* Centers everything inside container*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  /* Makes a flex-box with things next (side-by-side) to each other*/
  display: flex;
  flex-direction: row;
}

.flex-column {
  /* Makes a flex-box with things on top of each other*/
  display: flex;
  flex-direction: column;
}

.flex-x-center {
  /* Centers objects along the x-axis*/
  justify-content: center;
}

.flex-y-center {
  /* Centers objects along the y-axis*/
  align-items: center;
}

/* COLOR CLASSES*/
.background-color {
  background-color: var(--base-background-color);
}

.alt-background-color {
  background-color: var(--alt-background-color);
}

.font-accent {
  color: var(--accent);
}

.background-accent {
  background-color: var(--accent);
}

/* MARGIN CLASSES*/
/* All Sides*/
.m-xs { margin: var(--space-xs) !important; }
.m-s { margin: var(--space-s) !important; }
.m-m { margin: var(--space-m) !important; }
.m-l { margin: var(--space-l) !important; }
.m-xl { margin: var(--space-xl) !important; }

/* Vertical (y)*/
.my-m { margin-top: var(--space-m) !important; margin-bottom: var(--space-m) !important;}

/* Bottom*/
.mb-m { margin-bottom: var(--space-m) !important; }

/* PADDING CLASSES*/
/* All Sides*/
.p-xs { padding: var(--space-xs) !important; }
.p-s { padding: var(--space-s) !important; }
.p-m { padding: var(--space-m) !important; }
.p-l { padding: var(--space-l) !important; }
.p-xl { padding: var(--space-xl) !important; }

/* Horizontal (x)*/
.px-m { padding-left: var(--space-m) !important; padding-right: var(--space-m) !important; }


/* TYPOGRAPHY CLASSES*/
.title {
  /* Controls font-size, font-family, & other text properties for the title*/
  /* Layout*/
  text-align: center;

  /* Typography*/
  font-size: var(--font-size-title);
  font-family: var(--title-font);
  line-height: var(--line-height-title);
  font-weight: bold;

  /* Aesthetic*/
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-title);
}

.paragraph {
  /* Controls font-size, font-family, & other text properties for paragraphs*/
  /* Layout*/
  text-align: flex-start;

  /* Typography*/
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  font-weight: normal;

  /*Aesthetic*/
  color: var(--paragraph-color);
  letter-spacing: var(--letter-spacing-paragraph);
}

.caption {
  /* Controls font-size, font-family, & other text properties for the caption*/
  /* Layout*/

  /* Typography*/
  font-size: var(--font-size-caption);
  font-family: var(--caption-font);
  line-height: var(--line-height-caption);

  /* Aesthetic*/
  letter-spacing: var(--letter-spacing-caption);
}

/* Logo Classes*/
.header-logo {
  /* Layout*/
  width: var(--logo-width);
  height: var(--logo-height);
  padding: var(--space-m);

  /* Mask Layout*/
  -webkit-mask-image: url('../logos/logo.png');
  mask-image: url('../logos/logo.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center; 
  -webkit-mask-mode: alpha;
  mask-mode: alpha; 
  
  /* Aesthetic*/
  background-color: var(--logo-color);
}

