:root {
  /* Hope you can enjoy playing around with adding these classes!!*/
  /* You can change any of these values if you want!*/
  
  /* MAIN COLORS HEX */
  --frozen-water-hex: #defff2;
  --deep-space-blue-hex: #0b3954;
  --air-force-blue-hex: #658e9c;
  --golden-orange-hex: #f0a202;
  
  /* MAIN COLORS HSL */
  --frozen-water-hsla: 156, 100%, 94%;
  --deep-space-blue-hsla: 202, 77%, 19%;
  --air-force-blue-hsla: 195, 22%, 50%;
  --golden-orange-hsla: 40, 98%, 47%;

  /* Main Colors*/
  --base-background-color: var(--frozen-water-hex);
  --alt-background-color: var(--air-force-blue-hex);
  --accent: var(--golden-orange-hex);
  --font-color: var(--deep-space-blue-hex);

  /* Font Colors*/
  --title-color: var(--font-color);

  /* Layout Spacing*/
  --space-xs: clamp(0.25rem, 0.5vw, 0.5rem); /* Space between deeply related things like an Icon & Text or a Label and Input field*/
  --space-s: clamp(0.5rem, 1vw + 0.25rem, 1rem); /* Space between a related things like Headline and it's Subtitle*/
  --space-m: clamp(1rem, 2vw + 0.5rem, 2rem); /* Space between Pargraphs; padding for a standard cards; defualt gap between items in a list*/
  --space-l: clamp(2rem, 4vw + 0.5rem, 4rem); /* Space between Components like 2 different cards; a large image and text*/
  --space-xl: clamp(4rem, 8vw + 2rem, 8rem); /* Space between Sections; like hero section and features section; padding for footer*/

  /* Font Size*/
  --font-size-title: clamp(2rem, 5vw + 1rem, 4rem);
  --font-size-subtitle: clamp(1.5rem, 3vw + 1rem, 2.5rem);
  --font-size-minor-title: clamp(1.25rem, 2.5vw + 1rem, 1.75rem);
  --font-size-paragraph: clamp(1rem, 1vw + 0.75rem, 1.25rem);
  --font-size-caption: clamp(0.8rem, 0.5vw + 0.7rem, 0.9rem);

  /* Line Height*/
  --line-height-title: clamp(1.1, 1.2 - 0.05vw, 1.2);
  --line-height-subtitle: clamp(1.2, 1.3 - 0.02vw, 1.3);
  --line-height-paragraph: clamp(1.5, 1.6 - 0.01vw, 1.6);
  --line-height-caption: clamp(1.3, 1.4 - 0.01vw, 1.4);

  /* Letter Spacing*/
  --letter-spacing-title: clamp(-0.05em, -0.02em + 0.1vw, -0.02em);
  --letter-spacing-subtitle: clamp(-0.02em, -0.01em, 0em);
  --letter-spacing-paragraph: 0em;
  --letter-spacing-caption: clamp(0.01em, 0.02em + 0.05vw, 0.05em);

  /* Font Families*/
  --title-font: "Playwright Cuba Guides", serif;
  --caption-font: "Roboto", sans-serif;
}

/* ------ HELPER CLASSES ------*/

/* FLEX CLASSES*/
.flex-center {
  /* Centers everything inside container*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  /* Makes a flex-box with things next (side-by-side) to each other*/
  display: flex;
  flex-direction: row;
}

.flex-column {
  /* Makes a flex-box with things on top of each other*/
  display: flex;
  flex-direction: column;
}

.flex-x-center {
  /* Centers objects along the x-axis*/
  justify-content: center;
}

.flex-y-center {
  /* Centers objects along the y-axis*/
  align-items: center;
}

/* COLOR CLASSES*/
.background-color {
  background-color: var(--base-background-color);
}

.alt-background-color {
  background-color: var(--alt-background-color);
}

.font-accent {
  color: var(--accent);
}

.background-accent {
  background-color: var(--accent);
}

/* MARGIN CLASSES*/
/* All Sides*/
.m-xs { margin: var(--space-xs) !important; }
.m-s { margin: var(--space-s) !important; }
.m-m { margin: var(--space-m) !important; }
.m-l { margin: var(--space-l) !important; }
.m-xl { margin: var(--space-xl) !important; }

/* Vertical (y)*/
.my-m { margin-top: var(--space-m) !important; margin-bottom: var(--space-m) !important;}

/* Bottom*/
.mb-m { margin-bottom: var(--space-m) !important; }

/* PADDING CLASSES*/
/* All Sides*/
.p-xs { padding: var(--space-xs) !important; }
.p-s { padding: var(--space-s) !important; }
.p-m { padding: var(--space-m) !important; }
.p-l { padding: var(--space-l) !important; }
.p-xl { padding: var(--space-xl) !important; }

/* Horizontal (x)*/
.px-m { padding-left: var(--space-m) !important; padding-right: var(--space-m) !important; }


/* TYPOGRAPHY CLASSES*/
.title {
  /* Controls font-size, font-family, & other text properties for the title*/
  /* Layout*/
  text-align: center;

  /* Typography*/
  font-size: var(--font-size-title);
  font-family: var(--title-font);
  line-height: var(--line-height-title);
  font-weight: bold;

  /* Aesthetic*/
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-title);
}

.paragraph {
  /* Controls font-size, font-family, & other text properties for paragraphs*/
  /* Layout*/
  text-align: flex-start;

  /* Typography*/
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  font-weight: normal;

  /*Aesthetic*/
  color: var(--paragraph-color);
  letter-spacing: var(--letter-spacing-paragraph);
}

.caption {
  /* Controls font-size, font-family, & other text properties for the caption*/
  /* Layout*/

  /* Typography*/
  font-size: var(--font-size-caption);
  font-family: var(--caption-font);
  line-height: var(--line-height-caption);

  /* Aesthetic*/
  letter-spacing: var(--letter-spacing-caption);
}


