:root {
  /* Hope you can enjoy playing around with adding these classes!!*/
  /* You can change any of these values if you want!*/
  
  /* MAIN COLORS HEX */
  --frozen-water-hex: #defff2;
  --deep-space-blue-hex: #0b3954;
  --air-force-blue-hex: #658e9c;
  --golden-orange-hex: #f0a202;
  
  /* MAIN COLORS HSL */
  --frozen-water-hsla: 156, 100%, 94%;
  --deep-space-blue-hsla: 202, 77%, 19%;
  --air-force-blue-hsla: 195, 22%, 50%;
  --golden-orange-hsla: 40, 98%, 47%;

  /* Main Colors*/
  --base-background-color: var(--frozen-water-hex);
  --alt-background-color: var(--air-force-blue-hex);
  --accent: var(--golden-orange-hex);
  --font-color: var(--deep-space-blue-hex);

  /* Font Colors*/
  --title-color: var(--font-color);

  /* Layout Spacing*/
  --space-xs: clamp(0.25rem, 0.5vw, 0.5rem); /* Space between deeply related things like an Icon & Text or a Label and Input field*/
  --space-s: clamp(0.5rem, 1vw + 0.25rem, 1rem); /* Space between a related things like Headline and it's Subtitle*/
  --space-m: clamp(1rem, 2vw + 0.5rem, 2rem); /* Space between Pargraphs; padding for a standard cards; defualt gap between items in a list*/
  --space-l: clamp(2rem, 4vw + 0.5rem, 4rem); /* Space between Components like 2 different cards; a large image and text*/
  --space-xl: clamp(4rem, 8vw + 2rem, 8rem); /* Space between Sections; like hero section and features section; padding for footer*/

  /* Font Size*/
  --font-size-title: clamp(2rem, 5vw + 1rem, 4rem);
  --font-size-subtitle: clamp(1.5rem, 3vw + 1rem, 2.5rem);
  --font-size-minor-title: clamp(1.25rem, 2.5vw + 1rem, 1.75rem);
  --font-size-paragraph: clamp(1rem, 1vw + 0.75rem, 1.25rem);
  --font-size-caption: clamp(0.8rem, 0.5vw + 0.7rem, 0.9rem);

  /* Line Height*/
  --line-height-title: clamp(1.1, 1.2 - 0.05vw, 1.2);
  --line-height-subtitle: clamp(1.2, 1.3 - 0.02vw, 1.3);
  --line-height-paragraph: clamp(1.5, 1.6 - 0.01vw, 1.6);
  --line-height-caption: clamp(1.3, 1.4 - 0.01vw, 1.4);

  /* Letter Spacing*/
  --letter-spacing-title: clamp(-0.05em, -0.02em + 0.1vw, -0.02em);
  --letter-spacing-subtitle: clamp(-0.02em, -0.01em, 0em);
  --letter-spacing-paragraph: 0em;
  --letter-spacing-caption: clamp(0.01em, 0.02em + 0.05vw, 0.05em);

  /* Font Families*/
  --title-font: "Playwright Cuba Guides", serif;
  --caption-font: "Roboto", sans-serif;

  /* Logo Properties*/
  --logo-width: clamp(150px, 20vw, 250px);
  --logo-height: clamp(100px, 15vw, 225px);
  --logo-color: var(--golden-orange-hex);
}
